---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/forms/ContactForm.astro';
import Offices from '../components/sections/contact/Offices.astro';
import FAQ from '../components/sections/contact/FAQ.astro';

export const prerender = true;
---

<Layout title="Contacto en Liberia y Cañas" description="Ubique nuestras oficinas legales en Liberia y Cañas, Guanacaste. Contáctenos para asesoría inmediata.">
  <main class="pt-24 md:pt-32">
    <ContactForm />
    <Offices />
    <FAQ />
  </main>
</Layout>
