---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/home/Hero.astro';
import AboutSummary from '../components/sections/home/AboutSummary.astro';
import ServiceList from '../components/sections/services/ServiceList.astro';
import ContactSection from '../components/sections/home/ContactSection.astro';
import siteData from '../data/site.json';
import ServicesSummary from '../components/sections/home/ServicesSummary.astro';
---

<Layout title="Inicio" description="Bufete de Abogados en Guanacaste y Cañas. Asesoría legal experta en Derecho Civil, Corporativo y Notarial.">
	
	<Hero />
    
    <div id="about">
	    <AboutSummary />
    </div>

    <ServicesSummary/>

    <ContactSection />

</Layout>
 
