---
import Layout from '../layouts/Layout.astro';
import ServicesHero from '../components/sections/services/ServicesHero.astro';
import ServicesOffer from '../components/sections/services/ServicesOffer.astro';
import ServiceList from '../components/sections/services/ServiceList.astro';
import CTASection from '../components/common/CTASection.astro';

export const prerender = true;
---

<Layout title="Servicios Legales en Guanacaste" description="Servicios legales integrales en Liberia y Cañas. Expertos en Derecho Civil, Corporativo y Notarial en Guanacaste.">
  <main>
    <ServicesHero />
    <ServicesOffer />
    <ServiceList />
    <CTASection />
  </main>
</Layout>
